.about {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.about__wrap-right {
    max-width: 900px;
    flex-shrink: 0;
}

.promo {
    padding: 0 50px;
}

.promo__item {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    border: 1px solid #000;
    margin: 20px 0;

}

.promo__wrapper {
    max-width: 900px;
    padding-inline: 20px;

}

.section__title {
    text-align: center;
}

.promo__link {
    font-size: 24px;
    color: #5e0606;
    text-decoration: none;
    text-align: center;
}
.promo__link:hover{
    opacity: 0.3;
}
.reviews__list {
    list-style: none;
    padding-right: 20px;
}

.reviews__icon {
    padding: 16px;
    margin: auto;
    float: left;
}
.reviews__score{

    position: relative;
    height: 17px;

}
.reviews__score-item {
    position: absolute;
    z-index: 2;
    display: inline-block;
    background-image: url(../images/score.webp);
    height: 17px;
    width: 16px;
    background-size: 128px;
    background-position: 0 -136px;
}

.reviews__score-mask {
    z-index: 1;
    width: 85px;
    background-position: 0 -118px;
}
.reviews__score-item--five{
    width: 86px;

}
.reviews__score-item--three{
    width: 50px;
}
.popup__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.promo__item {
    transition: transform 0.3s;
}
.promo__item:hover {
    transform: scale(1.03);
}
.promo__item {
    transition: box-shadow 0.3s;
}
.promo__item:hover {
    box-shadow: 0 8px 16px 0
   rgba(0,0,0,0.2);
}
.button{
    padding-right: 25px;
}
.window, .dialog{
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(58, 60, 65, 0.7); 
}
.popup__login, .popup__reg{
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 100%;
    padding: 50px 20px; 
    display:flex;
    justify-content: center;
    align-items: center; 
    column-gap: 64px; 
    background-color: #f3f3f3; 
    color: #000000; 
}
.popup__end, .popup__close{
    position: absolute; /* позиционируется абсолютно*/
    top: 0; /* Элемент будет находиться на верхней границе родителя*/
    right: 0; /* элемент будет прижат к правой стороне родителя */
    padding: 10px; /* Внутренние отступы с каждой стороны 10px*/
    background-color: #850073; /*фон кнопки*/
    color: #fff;
    border: none;

}
.popup__close:hover,.popup__end:hover {
    opacity: 0.3;
}
.modal__content, .modal__hews{
    display: flex;
}
.modal__hews{
    width: 1000px;
    border: 1px solid #000;
    display: none;
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f3f3f3; 
}
.swiper {
    width: auto;;
    height:600px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
